*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore all build folders in all modules
**/build/

# Kotlin compiler cache
.kotlinc/
.kotlin/

# OS junk files
Thumbs.db