# IDE + Gradle
.idea/
.gradle/

# Local config
local.properties

# Build output (all modules)
**/build/

# Kotlin caches
.kotlinc/
.kotlin/

# OS junk
.DS_Store
Thumbs.db

# Native build junk
.externalNativeBuild
.cxx

# IntelliJ module files
*.iml